#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

ul{
  list-style: none;
  
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #BC9B6A;
  background-color: #003262;
}

.welcomeText {
  margin: 30px 150px;
  text-align: justify;
}

.requestText {
  margin: 2rem 20rem;
  border: 0.2rem solid #003262;
  border-radius: 1rem;
  padding: 1rem;
}

.notes {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 20px;
  color: #003262;
}

.notes p{
  border: 0.2rem solid #BC9B6A;
  border-radius: 1rem;
  padding: 1rem;
}

.userNotes {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  margin: 20px;
  border: 0.2rem solid #BC9B6A;
  border-radius: 1rem;
  padding: 1rem;
  color: #003262;
}

.cartPage{
  width: 100vw;
  margin: 0;
  margin-top: 10px;
}

.cartList{
  padding: "1rem";
}
.countButton {
  padding: 1rem;
  margin: 1rem;
}

.deleteButton {
  margin-top: 0.2rem;
}

.paymentButton{
  padding: 1.5rem;
  font-size: 18px;
  font-weight: bold;
}

.bottles{
  font-size: 17px;
  font-weight: bold;
  color: #003262;
}
.notesForm {
  margin: 1rem;
}

.whiskeyDetails button{
  margin: 1rem;
}

.whiskeyName {
  color: #003262;
}

.whiskeyDescription {
  margin: 0 15rem;
  text-align: justify;
}

.whiskeyPrice {
  border: 0.2rem solid #BC9B6A;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 44rem;
  color: #003262;
}

.addWhiskeyContainer{
  width: 100vw;
}

.addWhiskeyContainer table{
  text-align: center;
  border-spacing: 25px;
}

.addWhiskeyForm {
  font-size: 16px;
  font-weight: bold;
}

.addWhiskeyButton {
  margin-top: 1rem;
}

.updateContainer {
  width: 100vw;
}

.updateForm{
  margin: 3rem 3rem;
  font-size: 16px;
  font-weight: bold;
}

