#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul{
  list-style: none;
  
}

nav {
  display: flex;
  justify-content: space-between;
  color: #FCD9B8;
}

.welcomeText {
  margin: 30px 150px;
  text-align: justify;
}

.notes {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 20px;
}

.notes p{
  border: 0.2rem solid #bfa437;
  border-radius: 1rem;
  padding: 1rem;
}

.userNotes {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 20px;
}
.userNotes p{
  border: 0.2rem solid #bfa437;
  border-radius: 1rem;
  padding: 1rem;
}
