#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul{
  list-style: none;
  
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #BC9B6A;
  background-color: #003262;
}

.welcomeText {
  margin: 30px 150px;
  text-align: justify;
}

.notes {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 20px;
  color: #003262;
}

.notes p{
  border: 0.2rem solid #BC9B6A;
  border-radius: 1rem;
  padding: 1rem;
}

.userNotes {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  margin: 20px;
  border: 0.2rem solid #BC9B6A;
  border-radius: 1rem;
  padding: 1rem;
  color: #003262;
}

.cartPage{
  width: 100vw;
  margin: 0;
}

.notesForm {
  margin: 1rem;
}

/* .whiskeyDetails{
  display: flex;
} */

#whiskeyDescription {
  margin: 0 15rem;
  text-align: justify;
}

.price {
  border: 0.2rem solid #BC9B6A;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 40rem;
  color: #003262;
}

